.about-container {
  display: flex;
  flex-direction: column;
  background-color: #222;
  height: 100%;
  padding: 2rem 1rem;
  overflow: auto;
}
.about-container h1 {
  font-size: 2rem;
}
.about-container h2 {
  font-size: 1.5rem;
}
.about-container h3 {
  font-size: 1rem;
}
.about-container ul {
  margin-inline: 2rem;
}
