---
import "../styles/global.css";
import HeroBg from "../assets/hero-bg.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link
      rel="icon"
      type="image/png"
      href="/favicon-96x96.png?v=20260410"
      sizes="96x96"
    >
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=20260410">
    <link rel="shortcut icon" href="/favicon.ico?v=20260410">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=20260410"
    >
    <meta name="apple-mobile-web-app-title" content="Sabith | Web Developer">
    <link rel="manifest" href="/site.webmanifest?v=20260410">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>Sabith | Software Engineer | Frontend Developer</title>
  </head>
  <body class="bg-ctp-crust text-ctp-text transition-colors">
    <main class="h-full">
      <div class="pointer-events-none absolute inset-0 overflow-hidden -z-10">
        <div class="container mx-auto size-full relative">
          <HeroBg
            class:list={[
              "aspect-64/29 scale-65 md:scale-80 lg:scale-90 min-h-70 absolute right-0",
              "mask-b-from-44% mask-b-to-82%",
              "h-[80dvh] not-supports-[height:1dvh]:h-[80vh]",
              "transform-[translate(74%,10dvh)]",
              "not-supports-[height:1dvh]:transform-[translate(74%,10vh)]",
              "sm:transform-[translate(72%,10dvh)]",
              "not-supports-[height:1dvh]:sm:transform-[translate(72%,10vh)]",
              "md:transform-[translate(58%,12dvh)]",
              "not-supports-[height:1dvh]:md:transform-[translate(58%,12vh)]",
              "lg:transform-[translate(51%,16dvh)]",
              "not-supports-[height:1dvh]:lg:transform-[translate(51%,16vh)]"
          ]}
          />
        </div>
      </div>
      <div
        class:list={[
          "container mx-auto px-6 md:px-12 pt-[40dvh] md:pt-[45dvh]",
          "not-supports-[height:1dvh]:pt-[40vh] not-supports-[height:1dvh]:md:pt-[45vh]"
        ]}
      >
        <h2>
          <span class="text-4xl md:text-[2.5rem] lg:text-5xl font-extrabold"
            >Hi,</span
          ><br>
          <span class="text-5xl md:text-6xl lg:text-8xl font-extrabold"
            >I'm Sabith</span
          >
        </h2>
        <h3 class="md:text-3xl lg:text-4xl font-medium">
          Software Engineer | Frontend Developer
        </h3>
      </div>
    </main>
  </body>
</html>
