<div class="loader hidden!"></div>

<style>
.loader {
  position: fixed;
  inset: 0;
  background: #dce0e8;
  z-index: 9999;
}
@media (prefers-color-scheme: dark) {
  .loader {
    background: #11111b;
  }
}
</style>
